.about-cont {
  min-height: 100vh;
  margin-top: 4%;
}
.info-cont {
  padding: 5%;
  background-color: #fff3dd;
  font-size: 1.3rem;
  color: var(--blue-dark-1);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 5px 7px var(--bs-gray-400);
}
#main-title-info{
    color:var(--blue-light-1);
    margin-top:1%
}
