
.btn-contact{
    background-color: var(--blue-light-1)!important;
    border: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn-contact:hover{
    background-color: var(--blue-dark-1)!important;
    color:var(--yellow-1)!important;
}
form button{
    padding: 0.2rem 0.5rem;
}
form button:hover{
    background-color: var(--bs-light);
}
form button a:hover{
    color:var(--bs-blue);
}
