
.btn-contact{
    background-color: var(--blue-light-1)!important;
    border: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.btn-contact:hover{
    background-color: var(--blue-dark-1)!important;
    color:var(--yellow-1)!important;
}
form button{
    padding: 0.2rem 0.5rem;
}
form button:hover{
    background-color: var(--bs-light);
}
form button a:hover{
    color:var(--bs-blue);
}

#map h5{
  color:var(--blue-light-2);
}
#main-title {
  color:var(--bs-light);
  text-decoration: none;
}
@media (max-width: 768px) {
  
  #map-location {
    width: 360px;
    height: 360px;
    display: block;
  }
}
@media (min-width: 769px) {
  
  #map-location {
    width: 400px;
    height: 250px;
  }
}