.category-cont {
  margin: 3% auto;
}
.category-cont button{
  background-color: var(--blue-light-1)!important;
  border:none
}
.category-cont button:hover{
  background-color: var(--blue-dark-1)!important;
}
.category-cont button a:hover{
  color: var(--yellow-1) !important;
}
.carousel-caption {
  text-shadow: 0px 0px 10px black;
}
.card-header {
  font-weight: bolder;
}
.card a{
  color:var(--bs-light);
  text-decoration: none;
  display: block;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card button{
  padding: 0.2rem 0.5rem;
}
.card button:hover{
  background-color: var(--bs-light);
}
.card button a:hover{
  color:var(--bs-blue);
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 50px;
  }
  .card-header{
      font-size: 1rem;
  }
  #map-location {
    width: 360px;
    height: 360px;
    display: block;
  }
}
@media (min-width: 769px) {
  .navbar-brand {
    width: 60px;
  }
  #map-location {
    width: 500px;
    height: 350px;
  }
}
