.category-cont {
  margin: 3% auto;
}
.carousel-caption {
  text-shadow: 0px 0px 10px black;
}
.card-header {
  font-weight: bolder;
}
.card a{
  color:var(--bs-light);
  text-decoration: none;
  display: block;
}
.card button{
  padding: 0.2rem;
}
.card button:hover{
  background-color: var(--bs-light);
}
.card button a:hover{
  color:var(--bs-blue);
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 50px;
  }
  .card-header{
      font-size: 1rem;
  }
}
@media (min-width: 769px) {
  .navbar-brand {
    width: 70px;
  }
}
