.nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: var(--bs-light);
  padding: 1% 0;
  top: -10%;
  animation-duration: 0.3s;
  box-shadow: 0 3px 10px var(--bs-gray-400);
}

.nav .nav-item a {
  text-decoration: none;
  color: var(--blue-light-2);
  font-size: 1.15rem;
  font-weight: bold;
}
.slidein {
  animation-name: slidein;
  animation-fill-mode: forwards;
}
.slideout {
  animation-name: slideout;
  animation-fill-mode: backwards;
}
@keyframes slidein {
  from {
    top: -8%;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    top: 0%;
    opacity: 1;
  }

  to {
    top: -8%;
    opacity: 0;
  }
}

#link-products {
  display: inline-flex;
}
#social-nav-menu {
  list-style: none;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    top: -48%;
    background: #eaeaea;
  }
  .nav-item {
    width: 90%;
    border-radius: 5px;
    border: 1px solid #cae4fc;
    text-align: center;
    margin: 1% 0;
    padding: 1% 0;
    background-color: var(--bs-light);
  }
  .nav-item a {
    display: block;
  }
  .card {
    margin-top: 5%;
  }
  /* #nav-dropdown{
  display: inline;
} */
  #link-products {
    display: none;
  }
}
