@import "../src/assets/stylesheets/header.css";
@import "../src/assets/stylesheets/footer.css";
@import "../src//assets//stylesheets/Home.css";
@import "../src/assets/stylesheets/about.css";
@import "../src/assets/stylesheets/nav.css";
@import "../src/assets/stylesheets/products.css";

:root {
  --blue-light-1: #6fb6f8;
  --blue-light-2:#2E92EF;
  --blue-dark-1: #01215c;
  --gray-1: #878585;
  --yellow-1: #f1dd3c;
  --yellow-light-1: #fffce2;
  --yellow-light-2: #FFFBD2;
}
img{
  max-width: 100%;
  height: auto;
}
.main{
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}




